rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
      allow read: if hasUid();
      allow write: if isUidEqual(data().uid) && isUserSchema() && isValidUser();
    }
  }
}
